/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : [Votre nom]
 * Date : [Date]

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Changez pour votre choix de police de caractères de Google Fonts*/
    font-size: 1rem;
    line-height: 1.6;
    color: #000000; /* Ajutez avec votre couleur de texte principale */
    background-color: #f9f9f9; /* Ajutez avec votre couleur de fond principale */
    margin: 0;
    padding: 0;
    font-family: "Playwrite IE", sans-serif;
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */
section {
  background-color: #757171;
  max-width: 800px;
  width: 32rem;
  margin: 0 auto;
  text-align: left;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
 }


.prix {
  color: #FF6042;
  display: inline;
  float: right;
  padding: 20px;
}

.plat {
  font-weight: bold;
  display: inline;
  padding: 20px;
}

h2 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline #FF6042;
}

.ingredients {
  padding-bottom: 0.5rem;
  padding: 20px;
  font-size: 14px;
}

li {
  list-style: none;
}

.entrer {
  border-bottom: 2px solid #FF6042;
}

.repas {
  border-bottom: 2px solid #FF6042;
}

.menu {
  max-width: 800px;
  width: 32rem;
  margin: 0 auto;
  text-align: center;
  border: 5px solid black;

}

img {
  max-width: 100%;
  max-height: 100%;
  max-width: 50px;
  max-height: auto;
}

 h1 {
  max-width: 30rem;
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  border: 5px solid black;
  border-bottom: none;
  max-width: 800px;
  width: 32rem;
}